# Dependencies
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# Env files (do not commit secrets)
.env
.env.*
!.env.example
!.env.local.example

# Prisma dev DB
prisma/dev.db
prisma/dev.db-journal

# Build artifacts
*.tsbuildinfo
coverage/

# Vercel/Deploy
.vercel/

# Editors
.vscode/
.idea/

# Misc
.tmp/
*.local
